*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color:lightsteelblue;
    font-family: Helvetica, Arial, sans-serif;
}

/* Style of Nav Bar and header */
header {
padding: 20px 35px;    
background-color: #333;
display: Flex;
justify-content: space-between;
flex-wrap:wrap;
position: sticky;
top:0;
}


Header nav {
    margin: 10px 0;
}


header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #333;
    background-color: cadetblue;
    padding:5px 20px 05px 50px;
    position:relative;
    right:33px;
}


nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
}

nav li {
     margin: 0 10px;
}





