*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color:lightsteelblue;
    font-family: Helvetica, Arial, sans-serif;
}

/* Style of Nav Bar and header */
header {
padding: 20px 35px;    
background-color: #333;
display: Flex;
flex-wrap:wrap;
justify-content: space-between;
position: sticky;
top:0;
}


Header nav {
    margin: 10px 0;
}


header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #333;
    background-color: lightblue;
    padding:5px 20px 05px 50px;
    position:relative;
    right:33px;
}


nav ul {
    margin: 0 -10px;
    display:flex;
    list-style-type: none;
}

nav li {
     margin: 0 10px;
}

a {
    color:lightblue;
}

.hero {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 100px 0px 0px 0px;
    background-image: url("../images/Rollingshot.jpg");
   
}

.hero-banner {
    padding: 10px 20px 10px 5px;
    background-color:lightblue;
    color: #333;
    
    
    
  
}



